.box{
    font-style: italic;
    font-size: large;
    background-color: bisque;
    border: 2px solid black ;
    border-radius:10;
    padding: 10px;
}
.box1{
    font-style: italic;
    font-size: large;
    background-color:whitesmoke;
    border: 2px solid black;
    border-radius:10;
}
.A{
    display: inline-block;
    margin: 20px;
    width: 20%;
   
}
.B{
     display: inline-block;
    ;
    width: 40%;
    align-items: center;
}
div{
    display: inline-block;
    margin: 5px;
    border: 2px solid blue;
    align-items: center;

}
header{
    color: azure;
    background-color: brown;
    text-align: center;
}
footer{
    color: azure;
    background-color: brown;
    text-align: center;

}